{
    "bind": "127.0.0.1",
    "port": 10001,
    "rooms":
        {
            "team1": "Levitan2 Test",
            "team2": "My own personal chat"
        }
    ,
    "plugins" : {
        "HiPlugin": { },
         "JenkinsJob": {
            "jenkins_url": "jenkins.example.com:8080/jenkins",
            "authorization": "true",
            "user": "user",
            "password": "77eca7da351bf191d47f2b98c6dec987",
            "job": "Jenkins-Job"
        },
        "EnvPlugin": {
            "rooms": {
                "team1": {
                    "envs": [
                        "alpha",
                        "beta",
                        "gamma",
                        "delta",
                        "echo"
                    ]
                },
               "team2": {
                   "envs": [
                       "my_ci",
                       "my_prod"
                   ]
               }
            }
        }
    }
}
